body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navPersonaje{
  background: #41E0FD;
  padding: 15px 10px;
  text-align: center;
  
}

.navPersonaje input{
  width: 50%;
  padding: 10px;
  
}

.btnInfo{
  text-align: center;
  border: 1px solid #265180;
  
}

img{
  width: 100%;
}

.infoPersonaje li{
  list-style: none;
}

.informacionGeneralPersonaje{
  display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
}

.mt50{
 
  margin-top:50px;
}